*{padding:0;
	margin:0;
	list-style:none;
	text-decoration:none;
	font-size: 17px;
	font-family: "微软雅黑";
}
@media (max-width: 30em) {
  .over-hidden {
    width: 1300px;
    overflow: hidden;
  }
}
@media (max-width: 40em) {
  .over-hidden {
    width: 1300px;
    overflow: hidden;
  }
}
@media (max-width: 50em) {
  .over-hidden {
    width: 1300px;
    overflow: hidden;
  }
}
@media (max-width: 60em) {
  .over-hidden {
    width: 1300px;
    overflow: hidden;
  }
}
hr{
	padding: 0;
	margin: 0 20px;
	opacity: 0.5;
}
body{
	background-image: url(../img/back-pic.jpg);
}
.container{
	width:1200px;
}
.hl2-content{
	background-color: red;
	height: 375px;
	width: 100%;
}
.main-header{
	padding-top: 70px;
	background-image: url(../img/header.png);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   background-size: cover;
}
.main-header h1{
	margin-left: 60px;
}
.main-header h2{
	margin-left: 90px;
}

.notice{
	width:100%;
}
.border{
	border:2px solid #000;
}
.header{
	position: absolute;
	width: 100%;
	height:74px;
	background: #999;
	opacity: .1;
}
.logo{
	float:left;
	margin-left:20px;
	margin-top:5px;
}
.nav{
	float:left;
	margin-left:30px;
}
.nav li{
	float:left;
	position: relative;
}
.nav a{
	text-decoration:none;
	line-height: 74px;
	padding: 0 12px;
	color: #333;
	display: block;
	font-weight: 500;
	transition:all 0.5s;
}
.nav a:hover{
	font-weight: 700;
	text-decoration:none;
	color: #fff;
	opacity: .3;
	background-color: #333;
	-moz-border-radius: 30px; 
    -webkit-border-radius: 30px;  
    border-radius:30px;
}
.right-nav{
	float:right;
	margin-right:30px;
}
.right-nav input{
	margin-top: 20px;
}
.right-nav li{
	float:left;
	margin-left: 9px;
	position: relative;
}
.right-nav a{
	text-decoration:none;
	line-height: 74px;
	padding: 0 12px;
	color: #333;
	display: block;
	transition:all 0.2s;
}
.right-nav a:hover{
	color: red;
}
.qr{
	opacity: 1;
	display: none;
	z-index: 9999;
}
.right-nav-triangle{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 80px;
	left: 15px;
	-ms-transform:rotate(45deg); 
	-moz-transform:rotate(45deg); 
	-webkit-transform:rotate(45deg); 
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	background-color: #fff;
}
.right-nav-img{
	width: 140px;
	height: 140px;
	position: absolute;
	background-color: #fff;
	top:84px;
	left: -45px;
}
.pic-height{
	height: 500px;
}
.slider{
	line-height: 64px;
}
.slider a{
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	text-decoration: none;
	opacity: 1;
	font-weight: 200;
	color: white;
	padding-right: 60px;
	transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	-o-transition:.2s; 
}
.slider a:hover{
	padding-right: 40px;
	background-color: #333;
	opacity: .4;
}
.slider-content{
	width: 628px;
	height: 454px;
	top: 0;
	left: 100%;
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	opacity: 1;
	display: none;
}
.slider-content-title{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: 600;
	color: red;
	margin-left: 20px;
	margin-top: 20px;
}
.slider-content-smalltitle{
	float: left;
	font-size: 17px;
	color: #000;
	font-weight: 500;
	margin-left: 25px;
	margin-right: 12px;
}
.slider-content-content{
	margin-right: 30px;
	margin-left: 30px;
	color: #222;
}
.slider-content-content-text p{
	text-indent: 2em;
	float: left;
	font-size: 15px;
	line-height: 28px;
	margin: 0 25px;
}
.slider-content-content a{
	text-decoration: none;
	color: #333;
	display: inline-block;
	font-size: 16px;
	margin:0 10px;
	padding: 0;
}
.slider-content-content a:hover{
	font-family: "微软雅黑";
	color: red;
	font-weight: 200;
	background: none;
	margin:0 10px;
	padding: 0;
}
.slider-content .slider-diff-img img{
	position: relative;
	width: 628px;
	float: right;
	bottom: 424px;
	z-index: -6;
}
.slider-back{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	z-index: -10;
}
/*内容开始*/
.hl2-height{
	height: 100%;
}
.hl2-first{
	background-image: url("../img/c/blue.jpg");
}
.hl2-second{
	background-image: url("../img/c/blueb.jpg");
}
.hl2-third{
	background-image: url("../img/c/green.jpg");
}
.hl2-forth{
	background-image: url("../img/c/red.jpg");
}
.hl2-fifth{
	background-image: url("../img/c/.jpg");
}
.hl2-sixth{
	background-image: url("../img/c/.jpg");
}
.hl2-title{
	padding-top: 30px;	
}
.hl2-title p{
	color: #fff;
	margin-left: 20px;
	font-size: 30px;
	font-weight: 700;
}
.attach{
	font-size: 22px;
	color: #fff;
	margin-left: 25px;
	font-weight: 800px;
}
.hl2-more{
	margin-left: 20px;
	margin-top: 16px;
}
.hl2-more a{
	text-decoration: none;
	color: #fff;
}
.hl2-more span{
	font-size:16px;
	margin-right: 80px;
	transition: .2s;
}
.hl2-more span:hover{
	margin-right: 90px;
}
.hl2-link{
	margin-top: 115px;
	margin-left: 24px;
}
.hl2-link a{
	text-decoration: none;
	font-size: 14px;
}
.hl2-right-link{
	height: 194px;
	padding-left: 20px;
	padding-top: 40px;
}
.hl2-right-link li{
	margin:6px auto;
	list-style-type: square;
	font-size: 16px;
}
.hl2-right-link a{
	text-decoration: none;
	color: #333;	
}
.hl2-right-link a:hover{
	color: red;
}
.laud-num{
	font-size: 14px;
	margin-left: 6px;
	margin-top: 3px;
}
/*内容结束*/
.featured-media img{
	height: 140px;
	z-index: -2;
}
.featured-media a{
	text-decoration: none;
}
.featured-content{
	height: 40px;
	overflow: hidden;
}
.fea-title{
	color: #001;
	padding-left: 18px;
} 
.fea-content{
	padding-left: 25px;
	color: #333;
	font-size: 0.7em;
}
.fea-price{
	background-color: white;
	z-index: 2;
}
.box-header{
	height: 54px;
}
.background-green
{
	background-color: #d8ffd3;
}
.background-pink{
	background-color: #ffd3f1;
}
.background-yellow{
	background-color:#fffdd3;
}
.background-blue{
	background-color:#d9d3ff;
}
.background-red{
	background-color: #ffb2b2;
}
.background-orige{
	background-color: #feeccd;
}
.background-lightblue{
	background-color: #cdeafe;
}
.background-lightgreen{
	background-color: #cdfeea;
}
.background-white{
	width: 300px;
	height: 60px;
	color: blue;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	background-color: white;
	opacity: 0.6;
}
.panel a{
	text-decoration: none;
	font-weight: 600;
	transition:all 0.5s;
}
.panel a:hover{
	color: #000;
}
.divide{
	margin-top: 15px;
}
.copy-right {
	padding-top: 5px;
	padding-bottom: 15px;
    line-height: 24px;
    text-align: center;
    background: #FFFFFF;
    font-family: "Microsoft YaHei";
    font-size: 7pt
}
.copy-right p {
	font-size: 7pt;
    margin-top: 10px;
    color: gray
}
#btnn {
    width:40px;
    height:40px;
    position:fixed;
    left:50%; 
    display:none;
    margin-left:610px;
    bottom:30px; 
    background:url(../img/backtop.png) no-repeat left top;
    }
#btnn:hover {
    background:url(../img/backtop.png) no-repeat 0 -39px;
    }
.radius{
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px;  
    border-radius:30px;
}
.radius-left-up{
	-moz-border-radius: 20px 0 0 0; 
    -webkit-border-radius: 20px 0 0 0;  
    border-radius:20px 0 0 0;
}
.radius-left-down{
	-moz-border-radius:0 0 0 20px; 
    -webkit-border-radius: 0 0 0 20px;  
    border-radius: 0 0 0 20px;
}
.radius-right-up{
	-moz-border-radius: 0 20px 0 0; 
    -webkit-border-radius: 0 20px 0 0;  
    border-radius:0 20px 0 0;
}
.radius-right-down{
	-moz-border-radius: 0 0 20px 0; 
    -webkit-border-radius: 0 0 20px 0;  
    border-radius:0 0 20px 0;
}
.newpadding-title{
	padding: 20px 40px;
}
.newpadding-content{
	padding: 10px 50px;
}
.newdetail{
	float: right;
}
.sider-nav{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	padding-top: 14px;
	padding-bottom: 24px;
	padding-left: 30px;
	background-color:white;
	opacity: 0.7;
}
.sider-nav .title{
	font-size: 1em;
	white-space:nowrap; 
	font-weight: 800;
	margin-top: 14px;
}
.sider-nav .content{
	font-size: 1em;
	white-space:nowrap; 
	margin-left: 20px;
	margin-top: 10px;
}
.sider-nav .content li {
	margin-top: 5px;
}
.sider-nav .content li a{
	text-decoration: none;
}
/*照片墙开始*/
.marque{
	height: 300px;
	direction: right;
	behavior:right;
	scrollamount:6;
	scrolldelay:600;
}
div.polaroid
{
width:234px;
padding:10px 10px 20px 10px;
border:1px solid #BFBFBF;
background-color:white;
/* Add box-shadow */
box-shadow:2px 2px 3px #aaaaaa;
}

div.rotate_left1
{
float:left;
-ms-transform:rotate(17deg); /* IE 9 */
-moz-transform:rotate(17deg); /* Firefox */
-webkit-transform:rotate(17deg); /* Safari and Chrome */
-o-transform:rotate(17deg); /* Opera */
transform:rotate(17deg);
}
div.rotate_right
{
float:left;
-ms-transform:rotate(47deg); /* IE 9 */
-moz-transform:rotate(47deg); /* Firefox */
-webkit-transform:rotate(47deg); /* Safari and Chrome */
-o-transform:rotate(47deg); /* Opera */
transform:rotate(47deg);
}
div.rotate_left3
{
float:left;
-ms-transform:rotate(-17deg); /* IE 9 */
-moz-transform:rotate(-17deg); /* Firefox */
-webkit-transform:rotate(-17deg); /* Safari and Chrome */
-o-transform:rotate(-17deg); /* Opera */
transform:rotate(-17deg);
}
div.rotate_left2
{
float:left;
-ms-transform:rotate(-8deg); /* IE 9 */
-moz-transform:rotate(-8deg); /* Firefox */
-webkit-transform:rotate(-8deg); /* Safari and Chrome */
-o-transform:rotate(-8deg); /* Opera */
transform:rotate(-8deg);
}


/*照片墙结束*/

.fr{
	float: right;
}
.fl{
	float: left;
}
.p0{
	padding-left: 0;
	padding-right: 0;
}
.p0 h2{
	padding-left: 10px;
}
.pt{
	margin-top: 74px;
}